# Chicago Data Analysis with SQLite

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (8.17.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (2.0.23)
Requirement already satisfied: sqlparse in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (3.0.41)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (5.13.0)
Requirement already satisfied: colorama in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\jaysh\appdata\local\programs\python\python312\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [2]:
%load_ext sql

In [3]:
import pandas as pd
CENSUS_DATA = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')
CHICAGO_PUBLIC_SCHOOLS= pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01 ')
CHICAGO_CRIME_DATA= pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01')

In [4]:
import csv, sqlite3
con = sqlite3.connect("FinalDB.db")
CENSUS_DATA.to_sql("CENSUS_DATA", con, if_exists="replace", index=False)
CHICAGO_PUBLIC_SCHOOLS.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists="replace", index=False)
CHICAGO_CRIME_DATA.to_sql("CHICAGO_CRIME_DATA", con, if_exists="replace", index=False)
cur=con.cursor()

In [5]:
%sql sqlite:///FinalDB.db

##### Finding the total number of crimes recorded in the CRIME table

In [6]:
%sql SELECT count(*) FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

##### List of community areas with per capita income less than 11000.

In [7]:
%sql SELECT "COMMUNITY_AREA_NAME", "PER_CAPITA_INCOME" FROM CENSUS_DATA WHERE "PER_CAPITA_INCOME" < 11000;

 * sqlite:///FinalDB.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

##### List of all case numbers for crimes involving minors

In [8]:
%sql SELECT "Case_Number" FROM CHICAGO_CRIME_DATA WHERE "Description" LIKE '%MINOR%';

 * sqlite:///FinalDB.db
Done.

[('HL266884',), ('HK238408',)]

##### List of all kidnapping crimes involving a child

In [9]:
%sql SELECT * FROM CHICAGO_CRIME_DATA WHERE "Primary_Type" LIKE '%KIDNAPPING%' and "Description" LIKE '%CHILD%';

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

##### Kind of crimes recorded at schools

In [10]:
%sql SELECT DISTINCT("Primary_Type") FROM CHICAGO_CRIME_DATA WHERE "Location_Description" LIKE '%SCHOOL%';

 * sqlite:///FinalDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

##### List of average safety score for each type of school

In [16]:
%sql SELECT ["Elementary, Middle, or High School"], AVG("Safety_Score") \
FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY ["Elementary, Middle, or High School"];

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

##### List of community areas with highest % of households below poverty line

In [17]:
%sql SELECT "COMMUNITY_AREA_NAME" FROM CENSUS_DATA ORDER BY "PERCENT_HOUSEHOLDS_BELOW_POVERTY";

 * sqlite:///FinalDB.db
Done.

[('Edison Park',),
 ('Mount Greenwood',),
 ('Beverly',),
 ('Norwood Park',),
 ('North Center',),
 ('Forest Glen',),
 ('Jefferson Park',),
 ('Garfield Ridge',),
 ('Clearing',),
 ('Ashburn',),
 ('Dunning',),
 ('Lincoln Square',),
 ('Lake View',),
 ('Calumet Heights',),
 ('Portage Park',),
 ('Lincoln Park',),
 ('Near North Side',),
 ('Irving Park',),
 ('North Park',),
 ('Morgan Park',),
 ('Near South Side',),
 ('Archer Heights',),
 ('West Town',),
 ('Loop',),
 ('West Lawn',),
 ('Montclaire',),
 ('Avondale',),
 ("O'Hare",),
 ('West Elsdon',),
 ('Logan Square',),
 ('Washington Height',),
 ('Hegewisch',),
 ('West Ridge',),
 ('Avalon Park',),
 ('Edgewater',),
 ('Hyde Park',),
 ('Belmont Cragin',),
 ('McKinley Park',),
 ('Bridgeport',),
 ('Albany Park',),
 ('East Side',),
 ('CHICAGO',),
 ('Roseland',),
 ('Hermosa',),
 ('Near West Side',),
 ('Pullman',),
 ('Kenwood',),
 ('Gage Park',),
 ('Rogers Park',),
 ('Brighton Park',),
 ('Uptown',),
 ('Lower West Side',),
 ('West Pullman',),
 ('Auburn Gresham',),
 ('Chatham',),
 ('Chicago Lawn',),
 ('Austin',),
 ('New City',),
 ('South Deering',),
 ('Grand Boulevard',),
 ('Douglas',),
 ('Greater Grand Crossing',),
 ('South Chicago',),
 ('South Lawndale',),
 ('Woodlawn',),
 ('South Shore',),
 ('Burnside',),
 ('Humboldt park',),
 ('West Englewood',),
 ('Oakland',),
 ('Armour Square',),
 ('West Garfield Park',),
 ('Washington Park',),
 ('East Garfield Park',),
 ('North Lawndale',),
 ('Englewood',),
 ('Fuller Park',),
 ('Riverdale',)]

##### most crime prone community area

In [18]:
%sql SELECT "Community_Area_Number", COUNT(*) as crime_prone_area FROM CHICAGO_CRIME_DATA\
GROUP BY "Community_Area_Number" ORDER BY crime_prone_area DESC LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

##### Community area with highest hardship index

In [20]:
%sql SELECT "Community_Area_Name" FROM CENSUS_DATA\
WHERE "HARDSHIP_INDEX"= (SELECT MAX("HARDSHIP_INDEX") FROM CENSUS_DATA);

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

##### Community Area Name with most number of crimes

In [19]:
%sql SELECT "Community_Area_Name" FROM CENSUS_DATA\
WHERE "Community_Area_Number" = (SELECT "Community_Area_Number" FROM CHICAGO_CRIME_DATA\
                                 GROUP BY "Community_Area_Number" ORDER BY COUNT (*) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]